@tailwind base;
@tailwind components;
@tailwind utilities;

.add-snippet-btn {
    position: fixed;
    bottom: 60px;
    right: 60px;
}


.copyBtn {
    background: rgba(0, 0, 0, .3);
    border: none;
    border-radius: 4px;
    color: var(--ifm-color-white);
    cursor: pointer;
    user-select: none;
    /* padding: .4rem .5rem; */
    position: absolute;
    transition: opacity .2s ease-in-out;
}


@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

.heading {
    font-family: 'Titillium Web', sans-serif;
    color: #62738D;
}

.sub-heading {
    color: #9aa0a6;
}

.vc {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}